In [16]:
import os
import sys
import importlib
sys.path.append("../")
get_features_and_label = importlib.import_module('01-feature-engineering').get_features_and_label

In [18]:
import json

# All UserTransactions Dataframe

First we get all the userTransactions from the api. 

These events are saved in a file called `all_events.json`

We can create a dataframe of all userTransactions like so:

In [24]:
# check for the data file
print("checking for event data on disk ...")
data_file = os.getcwd() + '/../data/all_events.json' # get file location
data_file # str

checking for event data on disk ...

'/home/j3/code/defi_credit_score/notebooks/../data/all_events.json'

In [26]:
# load the all events.json from disk to an object we can use

if os.path.isfile(data_file):
    print("\"all_events.json\" found, loading from disk.")
    with open(data_file) as f:
        all_events = json.load(f)

"all_events.json" found, loading from disk.

In [28]:
# now we have access to all_events
len(all_events)

461549

In [29]:
# a single event
all_events[0]

{'timestamp': 1627952617,
 'user_id': '0x1eebec3312d9345c09b1a74fb7502a68660c089b',
 'txn_id': '0x452aee6d672f5be5aa3221def15850d2a9598ec137e439ed01747276d067b46d:3',
 'event_type': 'unknown'}

In [30]:
# getting all events into a dataframe
import pandas as pd
user_transactions = pd.DataFrame(all_events)

In [31]:
user_transactions

         timestamp  ... principalReserve_underlyingAsset
0       1627952617  ...                              NaN
1       1627947707  ...                              NaN
2       1627947497  ...                              NaN
3       1627945331  ...                              NaN
4       1627936585  ...                              NaN
...            ...  ...                              ...
461544  1578505466  ...                              NaN
461545  1578505416  ...                              NaN
461546  1578505074  ...                              NaN
461547  1578504936  ...                              NaN
461548  1578504869  ...                              NaN

[461549 rows x 21 columns]

In [35]:
user_transactions.shape

(461549, 21)

In [33]:
# all borrow events
user_transactions[user_transactions["event_type"] == "borrow"]

         timestamp  ... principalReserve_underlyingAsset
7       1627934303  ...                              NaN
14      1627896917  ...                              NaN
27      1627861398  ...                              NaN
33      1627856070  ...                              NaN
39      1627833352  ...                              NaN
...            ...  ...                              ...
461527  1578506443  ...                              NaN
461529  1578506331  ...                              NaN
461532  1578506080  ...                              NaN
461533  1578506041  ...                              NaN
461537  1578505854  ...                              NaN

[82397 rows x 21 columns]

In [36]:
# all repay events: 
user_transactions[user_transactions["event_type"] == "repay"]

         timestamp  ... principalReserve_underlyingAsset
21      1627879609  ...                              NaN
23      1627866040  ...                              NaN
29      1627860470  ...                              NaN
30      1627859752  ...                              NaN
32      1627856243  ...                              NaN
...            ...  ...                              ...
461482  1578517035  ...                              NaN
461522  1578507381  ...                              NaN
461530  1578506250  ...                              NaN
461531  1578506093  ...                              NaN
461535  1578505898  ...                              NaN

[60739 rows x 21 columns]

# Next: The model use case interface: 

tl:dr: user_address -> api, 
api -> model, model -> score -> user

Let's imagine how our user would interface with our service. Let's say they upload an address to a form, and when they do so, our api would then pull all their past transactions from Aave, run our risk model, and given the output from the model we'll return a credit score.

(For the sake of this excercise, let's say we are on a v.1 of the product, so we'll just return a probability they will default. Higher probability is analogous to a lower credit score.)

# Next: Get a profile for a specific user

For this excercise, let's plan to give a credit score to a user based on their previous history. 

To do this, we'll want to get all of a user's past transactions:

# We'll use "get all_user_mapping.json" that we returned from the fetcher. 

```python
This gives us a nice mapping for a user and all their given events
"""
{
    user1_id: [
        {event1}
        {event2}
        {event3}
        {event4}
    ]
    user2_id:        
        {event1}
        {event2}
        {event3}
        {event4}
}
"""
```

In [37]:
### Let's load this mapping from disk

# all user mapping.json
# check for the data file
print("checking for event data on disk ...")
data_file = os.getcwd() + '/../data/all_user_mapping.json' # get file location
# data_file # str

if os.path.isfile(data_file):
    print("\"all_user_mapping.json\" found, loading from disk.")
    with open(data_file) as f:
        user_event_mapping = json.load(f)

checking for event data on disk ...
"all_user_mapping.json" found, loading from disk.

In [39]:
# we have a dictionary
type(user_event_mapping)

dict

In [44]:
# the keys are user ids, here are the first 20
list(user_event_mapping)[:20]

['0x1eebec3312d9345c09b1a74fb7502a68660c089b',
 '0x5b2a89ee094ec6778ed72be05f0e219b956dbbb0',
 '0x39132c7f68616ffd34dba3cacfd1635f3b64ddf6',
 '0x21ce16237406a6e731e32503639ddd5992f23d6a',
 '0x959237c226ba652196be8641a7d497b6fd4bbb33',
 '0xdac09f37e132d91b962f30e6ec40d2d08b82b0fa',
 '0xbf609e91ffedc7e5cf9704d9f3c0acea81126d21',
 '0x6f38525a99a2a6dcd40be420cf752b13178058df',
 '0x95ed6f043bbc9fbf604a6879869d03b31686294d',
 '0x473869d211a9364b13806b97882f741acc444295',
 '0xdda2d57aa2cb55af90e42cc8c71f6c63fae58a56',
 '0x34c8c9d9d4c5abe245df85c159a566322840b6a5',
 '0x66f54006b47d1b381b5b933f2de9bf05a6b4eb40',
 '0xd255f83c6fedb746763fbc86f4476c46d114feee',
 '0xc176761d388caf2f56cf03329d82e1e7c48ae09c',
 '0xd4bce9c082e315b8e3d0a79bfb5c6daa36e9531b',
 '0x6067b8470c1cea51c4fdac7afc53f50c8b122ebe',
 '0xfb5c17f3941bbde978a7c47ad03be737f2003489',
 '0x05d534f28700ba8f749a403e181c557fda6888fe',
 '0x745d939cad45d371a9b136d32b959cb5c7005f84']

In [59]:
# let's see the event list for a given user

print(f"number of events for user id 0x1eebec3312d9345c09b1a74fb7502a68660c089b:\n{len(user_event_mapping['0x1eebec3312d9345c09b1a74fb7502a68660c089b'])}")

number of events for user id 0x1eebec3312d9345c09b1a74fb7502a68660c089b:
105

In [61]:
# let's take a look at the first 5 events for this user
user_event_mapping['0x1eebec3312d9345c09b1a74fb7502a68660c089b'][:5]

[{'timestamp': 1627952617,
  'user_id': '0x1eebec3312d9345c09b1a74fb7502a68660c089b',
  'txn_id': '0x452aee6d672f5be5aa3221def15850d2a9598ec137e439ed01747276d067b46d:3',
  'event_type': 'unknown'},
 {'amount': '1218284692576855568525',
  'pool_id': '0x24a42fd28c976a61df5d00d0599c34c4f90748c8',
  'pool_lendingPool': '0x398ec7346dcd622edc5ae82352f02be94c62d119',
  'reserve_id': '0x6b175474e89094c44da98b954eedeac495271d0f0x24a42fd28c976a61df5d00d0599c34c4f90748c8',
  'reserve_symbol': 'DAI',
  'timestamp': 1627947497,
  'user_id': '0x1eebec3312d9345c09b1a74fb7502a68660c089b',
  'txn_id': '0x60b56991a2d6c23ff41e13431904bb43f3182b31ac2b9a2809748e1b35d84725:1',
  'event_type': 'deposit'},
 {'amount': '224709657539875960368546',
  'pool_id': '0x24a42fd28c976a61df5d00d0599c34c4f90748c8',
  'pool_lendingPool': '0x398ec7346dcd622edc5ae82352f02be94c62d119',
  'reserve_id': '0x6b175474e89094c44da98b954eedeac495271d0f0x24a42fd28c976a61df5d00d0599c34c4f90748c8',
  'reserve_symbol': 'DAI',
  'timestamp': 1627945331,
  'user_id': '0x1eebec3312d9345c09b1a74fb7502a68660c089b',
  'txn_id': '0x6b805a7d536af417fc23aca2f3f8f59b84ac408aadb38f151a7409310a51ce8d:1',
  'event_type': 'deposit'},
 {'timestamp': 1626811355,
  'user_id': '0x1eebec3312d9345c09b1a74fb7502a68660c089b',
  'txn_id': '0x56b952b8452063c1a3969ba86f60158b4b96af43b570c0902da725abca02853e:3',
  'event_type': 'unknown'},
 {'timestamp': 1626809985,
  'user_id': '0x1eebec3312d9345c09b1a74fb7502a68660c089b',
  'txn_id': '0x384c441a044fa77b9561a1eec19dd15415aa2c28e2730e5dfcfc4b313467328c:3',
  'event_type': 'unknown'}]

# Key next step: getting past events for a user

We see for every event, we have a timestamp. We can imagine this event would be the point a user is applying for a credit score. 


With this "present time" event, we can use the timestamp to get all past events, (and future events) for a user

In [ ]:
# from the 01-feature-engineering.py script